main {
    height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Custom scrollbar */
.chat-messages::-webkit-scrollbar {
    width: 15px;
    background: #ffffff;
    border-left: 3px solid #000;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 3px solid #ffffff; /* Creates a gap effect */
}

.chat-messages::-webkit-scrollbar-track {
    background: #ffffff;
}
