<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content nb-box p-0">
      <div class="modal-header" style="background-color: var(--nb-secondary); border-bottom: var(--nb-border); border-radius: 0;">
        <h5 class="modal-title fw-bold" id="exampleModalLabel">CONFIRM DELETE</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body fw-bold p-4">
        ARE YOU SURE YOU WANT TO DELETE THIS MESSAGE?
      </div>
      <div class="modal-footer" style="border-top: var(--nb-border); border-radius: 0;">
        <button type="button" class="nb-btn bg-white" data-bs-dismiss="modal">NO, CANCEL</button>
        <button [attr.data-bs-dismiss]="!this.dismiss() === true ? 'modal' : null" (click)="deleteChat()" type="button"
          class="nb-btn bg-danger text-white">YES, DELETE</button>
      </div>
    </div>
  </div>
</div>