.login-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--nb-primary); /* Vibrant background for the whole page */
  background-image: radial-gradient(#000 1px, transparent 1px);
  background-size: 20px 20px;
}
